.DS_STORE
.idea/*
tmp/
*.html
*.json
screenshot*
*.gem*
rerun.txt
*.jar
*.apk
wait_for_emulator.sh
devices
.irb-history
.travis.yml
*.html
*.keystore
test_servers
apitest.rb
my_script.rb
chain.rb
*.png
*.gif
test_data/product.txt
cucumber-html-reports/*
results/*
api/test.rb
api/api_dc.rb